.reserve_container{
    display: grid;
    grid-template-columns: 2fr;
    margin: 5%;
    padding: 3%;
    justify-items: center;
    border-radius: 20px;
    font-family: "Karla", sans-serif;
    font-weight: 800;
}
.reserve_btn{
    padding: 5% 20% 5% 20%;
    border-radius: 16px;
    background-color: #F4CE14;
    align-items: center;
    justify-items: center;
    font-size: 18px;
    font-weight: 500;
    border: white;
    cursor: pointer;
}